html{
    width:100%;  
}

body {
    width:100%;
}

div.root-section{
    width:100%;
}

div.wrapper{
    width:100%;
}

main{
    width:100%;
}

button{
    color: #fff;
}

button a {
    color: #fff;
    text-decoration: none;
}
.btn-exp-dark-blue {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    color: #fff;
    font-size: 1.0625em;
    font-family: "Roboto",sans-serif;
    display: inline-block;
    background-color: #1d4f91;
    border-left-color: #1d4f91;
    border-right-color: #1d4f91;
}


.header__title {
    margin: 0;
    padding: 1rem;
    font-family: "Roboto",sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.5;
    color: #333;
  }

  
.header {
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
  }